.Account .upload-image-box 
{
    height:250px;
    width:190px; 
    background-color:white;
    margin:1px;
    overflow:hidden;
    position:relative;
    padding:15px;
} 
.Account .upload-image-box img
{
    height:65%;
    width:100%; 
    object-fit:contain;
}
.Account .upload-image-box span {
    position: absolute;
    left: 35%;
    top: 25%;
    font-size: 50px;
    color: lightgray;
}

.Settings, .BusinessPage {
    padding: 20px;
}
    .Settings h3, .BusinessPage h3, .BusinessPage label {
        font-size: 17px !important;
    }
    .Settings p, .BusinessPage p {
        font-size: 13px;
        color: #555 !important;
    }
    .Settings .media img, .BusinessPage .media img {
        width: 40px;
    }
    .Settings .nav-link, .BusinessPage .nav-link {
        display: contents;
        color: black;
    }
    .BusinessPage .input-group-prepend {
        margin-right: -1px;
        display: block;
        width: 100%;
    }
.AboutUs .about-section-2 {
    background-color: #b0b3b7;
} 
.AboutUs .about-section-1 .with-background {
    background-image: url("../img/congo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}
.AboutUs .about-section-2 .with-background {
    background-image: url("../img/pic03.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}
.AboutUs h2 {
    display: inline-block;
    font-size: 3em;

}
.AboutUs p {
    font-size: 17px;

}
/* The hero image */
.AboutUs .hero-image-1 {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0)), url("../img/pic001.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
}
.AboutUs .hero-image-2 {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0)), url("../img/pic002.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
}

/* Place text in the middle of the image */
.AboutUs .hero-text {
    text-align: center;
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@media screen and (max-width:600px) {
    .Account .warning-explained {
        display: none !important;
    }
    .Account .account-location.input-group {
        display: block;
    }
    .Account .account-location .input-group-text {
        border-radius:0;
        width:100%;
        font-weight:bolder;
    }
    .Account .upload-image-box {
        height: 233px;
        width: 50%;
        margin: 0;
    }
    .Account .w-70{
        width:100% !important;
        padding:0!important;
    }
    .Account .Aside-right main{
        margin: 0 !important;
    }
    .Account .Aside-right main header{
        padding: 1rem !important;
    }
    .Account .w-50 {
        width: 100% !important;
        display: block !important;
        margin-bottom: 20px;
    }
    .Account section.d-flex{
        display:block !important;
    }
    .account-nav .w-20{
        width:20%;
        display:inline-block;
    }
    .Settings {
        padding: 5px !important;
    }

    .AboutUs .about-section-2,
    .AboutUs .about-section-1 {
        padding-left:0 !important;
        text-align:center;
        padding-top:15px!important;
    }
        .AboutUs .about-section-2 .with-background,
        .AboutUs .about-section-1 .with-background {
            height: calc(100vh - 190px);
            background-position: bottom; 
        }
    .AboutUs .about-section-2 {
        background-color: white;
    }
    .AboutUs .hero-container {
        padding:0;
        margin-bottom:15px;
    }
    .AboutUs .hero-container:last-child {
        margin-bottom:0;
    }
}
