#Dashboard .card .overlay-bottom{
    font-size:1.5rem;
}

#Dashboard .card .overlay-bottom{
    position: absolute;
    bottom: 30%;
}

#Dashboard .card .card-img-overlay {
    background-color: #00000014;
}
#Dashboard #SectionA a:hover {
    box-shadow: 0 0 0px 6px #07284e;
    display: block;
}