:root {
    --main-color-1: #f8a300;
    --main-color-2: #122b3e;
    --main-bg-light-color: #f9f9f9;
    --main-heading-light: #3d464d;
    --main-star-color: #fdc504;
    --bozindo-orange: #ffab00;
}
.bg-white{
    background-color:white;
}
footer.Footer li,
footer.Footer p{
    font-size:15px;
}
.mouse-pointer{
    cursor:pointer;
}
.Footer.bg-dark-bozindo {
    background-color: #091d31 !important;
}
.subscribe input {
    display: inline-block;
    width: 70%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius:0;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.subscribe button {
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}
/*
    Product styling
*/
input[type=file] {
    font-size: x-small;
}
.loading {
    height: calc(100vh - 56px);
    background: linear-gradient(45deg, #FF9800, #FF5722);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: white;
    text-shadow: -5px 2px 0px #0000000d;
}
.loading span{
    font-size:small;
}
.dropdown-item, nav-link {
    cursor: pointer;
}
.keep-space {
    white-space: pre-line;
}
.product-image-box {
    min-height: 220px;
    max-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-content .store-name a{
     color:dimgray; 
}
.product-content a { 
    color:black;
}
/*
    other
*/
.logout, .dropdown-item, .nav-link, .nav-item {
    cursor: pointer;
}
body{
    background-color:var(--main-bg-light-color);
}
.w-33{
    width: 33.333333%;
}
.w-70{
    width:70%;
}
.w-30 {
    width: 30%;
}
.w-15{
    width:15%;
}
.verticle-align-top {
    vertical-align: top;
}
.vh-100-minus-nav{
    height:calc(100vh - 56px);
}
.min-vh-90{
    min-height:90vh;
}
.min-vh-50{
    min-height: 50vh;
}
.vh-50{
    height:50vh;
}
.vh-40{
    height:40vh;
}
.vh-70{
    height:70vh;
}
.color-dim{
    color:lightslategray;
}
.fa-star, 
.Home-Section .fa-map-marker {
    color: var(--main-star-color);
}
.price {
    color: #F44336;
    font-weight: bold;
}
img{
    max-width:100%;
}
.App a {
    color:var(--main-color-2);    
}
.nav-bozindo-black{
    background-color:var(--main-color-2);
    color:white;
}
.nav-bozindo-white{
    background-color:white;
    color:var(--main-color-2);
}
h1 {
    color:var(--main-color-2);
} 
.Shop h2{
    color:var(--main-heading-light);  
    font-size:20px;
    color:darkslategray;
}
.Home-Section h3, 
.Shop-Section h3, 
.Footer h3, 
.Product h3, 
.Shop h3, 
.Account h3
{
    font-size: 17px!important; 
}
.large-text
{
    font-size: 24px!important; 
}
.Footer .fab, .Footer .fa {
    font-size: 225%;
    color: white;
}
.Shop-Section h4, 
.Product h4 {
    font-size: 14px;
}
.Home-Section li{
    color:var(--main-heading-light);
}
body {
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Noto Sans', sans-serif;
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    /*font-family: 'Chivo', sans-serif;*/
}
/*
    Modal
*/
.modal-backdrop {
    width: 0 !important;
    height: 0 !important;
    z-index: 1;
}

.modal-body {
    max-height: 200px;
    overflow-y: scroll;
}
.modal-content{
    color:black;
}

.modal-header {
    padding: 10px;
    padding-bottom: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0 !important;
    pointer-events: none;
    padding: 5px;
}

.modal-open {
    overflow: overlay;
}

.modal {
    bottom: 0;
    right: 10%;
    left: unset;
    top: unset;
    z-index: 1050;
    padding: 0 !important;
    width: 26%;
    height: auto;
    background-color: #00000099;
}

.modal-footer {
    padding: 0 !important;
}
.modal-footer form {
    display: contents;
}

.modal-footer .form-control:focus {
    border-color: transparent;
    box-shadow: unset;
}

.modal-footer input {
    border: transparent !important;
}
@media screen and (min-width:601px) {
    .display-small{
        display:none;
    }
}
@media screen and (max-width:600px) {
    .display-large{
        display:none;
    }
    .Home-Section .product-card,
    .w-25, .w-50, .w-75 {
        width: 100% !important;
        box-shadow: none !important;
    } 
    .Footer{
        text-align:center;
    }

    .product-image-box {
        /*width: 40% !important;*/
        display: flex;
        /*display: inline-flex;*/
    }

    .product-content, .product-image-content {
        /*width: 60% !important;*/
        display: inline-block !important;
    }

    article.product-card > div {
        display: flex !important;
        flex-wrap: wrap;
    }
    article.product-card p{
        margin-bottom:0;
    }

    article.product-card {
        border-bottom: 1px solid #00000008;
        margin: 15px;
        margin-bottom: 1px;
        border-radius: 5px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }
    .Shop-Section .product-card {
        border: 1px solid #00000008;
    }
    .Shop-Section {
        padding:0 !important;
    }
    .Shop-Section h2 { 
        padding-left: 15px;
        padding-top: 15px;
    }
    .Shop-Section .product-image-box img {
        padding: .5rem !important;
    }
    .Shop-Section section {
        display: flex;
        flex-wrap: wrap;
    }
}