#Home .card-img-overlay h3{
    position: absolute;
    bottom: 0;
}
#Home .fa {
    transform: translateX(0%);
    /*transform: translateX(0%)  rotate(0deg);*/
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#Home .moveForward:hover .fa {
    transform: translateX(100%);
    /*transform: translateX(100%) rotate(360deg);*/
}

#Home .moveBackward:hover .fa {
    transform: translateX(-50%);
    /*transform: translateX(100%) rotate(360deg);*/
}
