.Login h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
.Login-height{
    height:calc(100vh-56px)
}
.Login main {
    margin-top: 20px;
}

.Login p {
    font-size: 1rem;
}
.Login .button {
    background-color: var(--bozindo-orange) !important;
}
.Login {
    background-image: url("../img/back3.jpg");
    background-size: cover;
    min-height: calc(100vh - 56px);
}
.Login header {
    background-color: #ffffffe6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 30px !important;
}

.Login .body {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media screen and (min-width: 481px) {

}
@media screen and (max-width: 480px) {
    .Login {
        width: 100% !important;
        padding: 20px !important;
    }
        

}
