#Navigation .nav-link{
    color:darkslategrey; 
    font-size: .9em;
    font-weight:bolder;
}
#Navigation .navbar-brand {
    color:darkslategrey;
    font-weight:bolder;
    text-transform:uppercase;
    font-size: 1.8em;
}
#Navigation .dropdown-menu {
    position: absolute;
    top: 100%;
    left: unset;
    right: 0;
}