#PostView #Header .dropdown-menu {
    box-sizing: content-box;
    min-width: 12rem;
}
#PostView #Header .nav-link, #PostView .dropdown-item { 
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bolder;
}
#PostView #Header a.dropdown-toggle {
    color:white;
}