#PostFilter #Header .dropdown-menu {
    box-sizing: content-box;
    min-width: 12rem;
}
#PostFilter #Header .nav-link, #PostFilter .dropdown-item { 
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bolder;
}
#PostFilter #Header a.dropdown-toggle {
    color:white;
}
#PostFilter .card .overlay-bottom{
    font-size:1.5rem;
}

#PostFilter .card .overlay-bottom{
    position: absolute;
    bottom: 0;
}

#PostFilter .card .card-img-overlay {
    background-color: #00000014;
}
#PostFilter #SectionA a:hover {
    box-shadow: 0 0 0px 6px #07284e;
    display: block;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}