.UserPosts h1 {
    font-size: 4.5rem;
    font-weight:bold;
}

.userposts {
    padding: 20px;
}

    .userposts h3 {
        font-size: 17px;
    }

    .userposts p {
        font-size: 13px;
        color: #555 !important
    }

    .userposts .media img {
        width: 11em;
    }

    .userposts .nav-link {
        display: contents;
        color: black;
    }

@media screen and (max-width:600px) {
    .UserPosts-disconnect {
        width:100% !important;
        padding:20px !important;
    }

    .userposts article{
        margin:0 !important;
        margin-bottom: 15px !important;
    }
    .userposts .media img {
        width: 6em;
    }
}